.menu {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu h1 {
  pointer-events: none;
  position: absolute;
  font-family: Lobster, cursive;
  top: 50px;
  font-size: 100px;
  color: #ffffff;
  font-weight: normal;
  cursor: default;
  text-shadow: 2px 4px 5px #000000;
}

.menu a {
  margin: 25px auto;
}

.menu a:nth-child(2) {
  margin-top: 100px;
}

@media (max-height: 915px) {
  .menu h1 {
    top: 5px;
  }
}
