.page-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #ffffff;
}

.page-404 h3 {
  margin: 10px 0;
  font-size: 30px;
}

.page-404 h2 {
  margin: 0;
  font-size: 170px;
  letter-spacing: 20px;
}

.page-404 p {
  font-size: 20px;
  margin: 10px 0 40px;
}
