.theme-colors {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-box {
  border: 5px solid #423902;
  flex-basis: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
  border-radius: 4px;
  cursor: pointer;
}

.color-box:nth-child(1) {
  background: var(--color-box-1);
}

.color-box:nth-child(2) {
  background: var(--color-box-2);
}

.color-box:nth-child(3) {
  background: var(--color-box-3);
}

.color-box:nth-child(4) {
  background: var(--color-box-4);
}

.color-box:nth-child(5) {
  background: var(--color-box-5);
}

@media (max-height: 915px) {
  .theme-colors {
    position: absolute;
    top: 100px;
    left: calc(50vw - 450px);
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 80px;
  }
  .color-box {
    margin: 20px 0;
  }
}
